{{- define "content" -}} {{- $params := .Scratch.Get "params" -}} {{- $profile
:= .Site.Params.home.profile -}} {{- $posts := .Site.Params.home.posts -}}

<div class="page home{{ if ne $posts.enable false }} posts{{ end }}">
  {{- /* Profile */ -}} {{- if ne $profile.enable false -}} {{- partial
  "home/profile.html" . -}} {{- end -}}

  <h2>Unsere Schützlinge</h2>

  {{- /* Content */ -}} {{- if .Content -}}
  <div class="single">
    <div class="content" id="content">
      {{- dict "Content" .Content "Ruby" $params.ruby "Fraction"
      $params.fraction "Fontawesome" $params.fontawesome | partial
      "function/content.html" | safeHTML -}}
    </div>
  </div>
  {{- end -}} {{- /* Posts */ -}} {{- if ne $posts.enable false | and
  .Site.RegularPages -}} {{- /* Paginate */ -}} {{- $pages := where
  .Site.RegularPages "Type" "posts" -}} {{- if
  .Site.Params.page.hiddenFromHomePage -}} {{- $pages = where $pages
  "Params.hiddenfromhomepage" false -}} {{- else -}} {{- $pages = where $pages
  "Params.hiddenfromhomepage" "!=" true -}} {{- end -}} {{- with $posts.paginate
  | default .Site.Params.paginate -}} {{- $pages = $.Paginate $pages . -}} {{-
  else -}} {{- $pages = .Paginate $pages -}} {{- end -}} {{- range $pages.Pages
  -}} {{- .Render "summary" -}} {{- end -}} {{- partial "paginator.html" . -}}
  {{- end -}} {{- if .Site.Params.home.pinterest -}}
  <style>
    .center-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; /* Adjust as needed */
    }
  </style>
  <div class="center-container">
    <a
      data-pin-do="embedBoard"
      data-pin-scale-height="800"
      data-pin-scale-width="80"
      href="https://www.pinterest.com/{{ .Site.Params.home.pinterest.user }}/{{ .Site.Params.home.pinterest.board }}/"
    ></a>
  </div>
  <script
    type="text/javascript"
    async
    defer
    src="//assets.pinterest.com/js/pinit.js"
  ></script>
  {{- end -}}
</div>
{{- end -}}
