<style>
  .article-header {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .image-container img {
    max-width: 50px;
    height: auto;
  }

  .big-name-span {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .custom-post-footer {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
</style>

{{- $params := .Params | merge .Site.Params.page -}}

<article class="single summary" itemscope itemtype="http://schema.org/Article">
  {{- /* Meta */ -}}
  <div class="post-meta">
    <span class="big-name-span">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </span>
    {{- with .Site.Params.dateFormat | default "2006-01-02" |
    .PublishDate.Format -}} &nbsp;<span
      class="post-publish"
      title='{{ "2006-01-02 15:04:05" | $.PublishDate.Format }}'
    >
      {{- printf `<time datetime="%v">%v</time>` . . | dict "Date" | T
      "single.publishedOnDate" | safeHTML -}}
    </span>
    {{- end -}} {{- $categories := slice -}} {{- range .Params.categories -}}
    {{- $category := partialCached "function/path.html" . . | printf
    "/categories/%v" | $.Site.GetPage -}} {{- $categories = $categories | append
    (printf `<a href="%v">%v %v</a>` (partial "function/escapeurl.html"
    $category.RelPermalink) (dict "Class" "fa-regular fa-folder fa-fw" | partial
    "plugin/icon.html") $category.Title) -}} {{- end -}} {{- with delimit
    $categories "&ensp;" -}} &nbsp;<span class="post-category">
      {{- dict "Categories" . | T "single.includedInCategories" | safeHTML -}}
    </span>
    {{- end -}}
  </div>
  <div class="article-header">
    {{- /* Featured image */ -}}
    <div class="image-container">
      <a href="{{ $.RelPermalink }}" aria-label="{{ $.Title }}">
        <img
          src="/{{ $params.katzenname | lower }}/{{ $params.katzenname | lower }}.jpg"
        />
      </a>
    </div>

    {{- /* Title */ -}} {{- /* Summary content */ -}}
    <div class="content">
      {{- with .Summary -}} {{- dict "Content" . "Ruby" $params.ruby "Fraction"
      $params.fraction "Fontawesome" $params.fontawesome | partial
      "function/content.html" | safeHTML -}} {{- else -}} {{- .Description |
      safeHTML -}} {{- end -}}
    </div>
  </div>
  {{- /* Footer */ -}}
  <div class="post-footer">
    {{- with .Params.tags -}}
    <div class="post-tags">
      {{- dict "Class" "fa-solid fa-tags fa-fw me-1" | partial
      "plugin/icon.html" -}} {{- range $value := . -}} {{- $tag := partialCached
      "function/path.html" $value $value | printf "/tags/%v" | $.Site.GetPage
      -}} {{- with $tag -}}
      <a
        href='{{ partial "function/escapeurl.html" .RelPermalink }}'
        class="post-tag"
        >{{ .Title }}</a
      >{{- end -}} {{- end -}}
    </div>
    {{- end -}}
  </div>
  <hr />
</article>
